<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> - VS MOMT</title>
     <meta charset="UTF-8">
	   <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
     <link rel='stylesheet' href='/stylesheets/datatables.min.css' />
     <link rel='stylesheet' href='/stylesheets/buttons.dataTables.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  <%if(currentUser != null){  %>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand"><%= currentUser.firstName%></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">MOMT <span class="sr-only">(current)</span></a>
      </li>
      <%if(currentUser.isAdmin){%>
      <li class="nav-item">
        <a class="nav-link" href="/user">Users</a>
      </li>
      <%}%>
    </ul>
   <form action="/users/auth/logout" method="POST" class="form-inline my-2 my-lg-0">
      <button id="logout" class="btn btn-danger my-2 my-sm-0 danger" type="submit">Logout</button>
    </form>
  </div>
</nav>
  <%} %>